*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato, sans-sarif';
    color: #333333;
}
h1,
h2 {

    font-weight: 300;
    margin: 10px 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    margin: 0 auto;
    border: 3px solid;
    max-width: 1100px;
    padding: 0 40px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .flex{
    justify-content:space-between;
}
.navbar ul {
    display: flex;
    justify-content: end;   
}
.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');*/